# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Podfile.lock
Manifest.lock
LICENSE
README.md
AFHTTPSessionManager.h
AFHTTPSessionManager.m
AFNetworking.h
AFNetworkReachabilityManager.h
Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m
Pods/AFNetworking/AFNetworking/AFSecurityPolicy.h
Pods/AFNetworking/AFNetworking/AFSecurityPolicy.m
Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.h
Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.m
Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.h
Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.m
Pods/AFNetworking/AFNetworking/AFURLSessionManager.h
Pods/AFNetworking/AFNetworking/AFURLSessionManager.m
Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.h
Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.m
Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.h
Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.m
Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h
Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m
Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIImage+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m
Pods/Headers/Private/AFNetworking/AFAutoPurgingImageCache.h
Pods/Headers/Private/AFNetworking/AFImageDownloader.h
Pods/Headers/Private/AFNetworking/AFNetworkActivityIndicatorManager.h
Pods/Headers/Private/AFNetworking/AFSecurityPolicy.h
Pods/Headers/Private/AFNetworking/AFURLRequestSerialization.h
Pods/Headers/Private/AFNetworking/AFURLResponseSerialization.h
Pods/Headers/Private/AFNetworking/AFURLSessionManager.h
Pods/Headers/Private/AFNetworking/UIActivityIndicatorView+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIButton+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIImage+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIImageView+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIKit+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIProgressView+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIRefreshControl+AFNetworking.h
Pods/Headers/Private/AFNetworking/UIWebView+AFNetworking.h
Pods/Headers/Private/MJRefresh/MJRefresh.h
Pods/Headers/Private/MJRefresh/MJRefreshAutoFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshAutoGifFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshAutoNormalFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshAutoStateFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshBackFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshBackGifFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshBackNormalFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshBackStateFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshComponent.h
Pods/Headers/Private/MJRefresh/MJRefreshConst.h
Pods/Headers/Private/MJRefresh/MJRefreshFooter.h
Pods/Headers/Private/MJRefresh/MJRefreshGifHeader.h
Pods/Headers/Private/MJRefresh/MJRefreshHeader.h
Pods/Headers/Private/MJRefresh/MJRefreshNormalHeader.h
Pods/Headers/Private/MJRefresh/MJRefreshStateHeader.h
Pods/Headers/Private/MJRefresh/NSBundle+MJRefresh.h
Pods/Headers/Private/MJRefresh/UIScrollView+MJExtension.h
Pods/Headers/Private/MJRefresh/UIScrollView+MJRefresh.h
Pods/Headers/Private/MJRefresh/UIView+MJExtension.h
Pods/Headers/Public/AFNetworking/AFAutoPurgingImageCache.h
Pods/Headers/Public/AFNetworking/AFImageDownloader.h
Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h
Pods/Headers/Public/AFNetworking/AFSecurityPolicy.h
Pods/Headers/Public/AFNetworking/AFURLRequestSerialization.h
Pods/Headers/Public/AFNetworking/AFURLResponseSerialization.h
Pods/Headers/Public/AFNetworking/AFURLSessionManager.h
Pods/Headers/Public/AFNetworking/UIActivityIndicatorView+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIButton+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIImage+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIKit+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIProgressView+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIRefreshControl+AFNetworking.h
Pods/Headers/Public/AFNetworking/UIWebView+AFNetworking.h
Pods/Headers/Public/MJRefresh/MJRefresh.h
Pods/Headers/Public/MJRefresh/MJRefreshAutoFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshAutoGifFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshAutoNormalFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshAutoStateFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshBackFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshBackGifFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshBackNormalFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshBackStateFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshComponent.h
Pods/Headers/Public/MJRefresh/MJRefreshConst.h
Pods/Headers/Public/MJRefresh/MJRefreshFooter.h
Pods/Headers/Public/MJRefresh/MJRefreshGifHeader.h
Pods/Headers/Public/MJRefresh/MJRefreshHeader.h
Pods/Headers/Public/MJRefresh/MJRefreshNormalHeader.h
Pods/Headers/Public/MJRefresh/MJRefreshStateHeader.h
Pods/Headers/Public/MJRefresh/NSBundle+MJRefresh.h
Pods/Headers/Public/MJRefresh/UIScrollView+MJExtension.h
Pods/Headers/Public/MJRefresh/UIScrollView+MJRefresh.h
Pods/Headers/Public/MJRefresh/UIView+MJExtension.h
Pods/MJRefresh/MJRefresh/MJRefresh.h
Pods/MJRefresh/MJRefresh/MJRefreshConst.h
Pods/MJRefresh/MJRefresh/MJRefreshConst.m
Pods/MJRefresh/MJRefresh/NSBundle+MJRefresh.h
Pods/MJRefresh/MJRefresh/NSBundle+MJRefresh.m
Pods/MJRefresh/MJRefresh/UIScrollView+MJExtension.h
Pods/MJRefresh/MJRefresh/UIScrollView+MJExtension.m
Pods/MJRefresh/MJRefresh/UIScrollView+MJRefresh.h
Pods/MJRefresh/MJRefresh/UIScrollView+MJRefresh.m
Pods/MJRefresh/MJRefresh/UIView+MJExtension.h
Pods/MJRefresh/MJRefresh/UIView+MJExtension.m
Pods/MJRefresh/MJRefresh/Base/MJRefreshAutoFooter.h
Pods/MJRefresh/MJRefresh/Base/MJRefreshAutoFooter.m
Pods/MJRefresh/MJRefresh/Base/MJRefreshBackFooter.h
Pods/MJRefresh/MJRefresh/Base/MJRefreshBackFooter.m
Pods/MJRefresh/MJRefresh/Base/MJRefreshComponent.h
Pods/MJRefresh/MJRefresh/Base/MJRefreshComponent.m
Pods/MJRefresh/MJRefresh/Base/MJRefreshFooter.h
Pods/MJRefresh/MJRefresh/Base/MJRefreshFooter.m
Pods/MJRefresh/MJRefresh/Base/MJRefreshHeader.h
Pods/MJRefresh/MJRefresh/Base/MJRefreshHeader.m
Pods/MJRefresh/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.h
Pods/MJRefresh/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.m
Pods/MJRefresh/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.h
Pods/MJRefresh/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.m
Pods/MJRefresh/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.h
Pods/MJRefresh/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.m
Pods/MJRefresh/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.h
Pods/MJRefresh/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.m
Pods/MJRefresh/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.h
Pods/MJRefresh/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.m
Pods/MJRefresh/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.h
Pods/MJRefresh/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.m
Pods/MJRefresh/MJRefresh/Custom/Header/MJRefreshGifHeader.h
Pods/MJRefresh/MJRefresh/Custom/Header/MJRefreshGifHeader.m
Pods/MJRefresh/MJRefresh/Custom/Header/MJRefreshNormalHeader.h
Pods/MJRefresh/MJRefresh/Custom/Header/MJRefreshNormalHeader.m
Pods/MJRefresh/MJRefresh/Custom/Header/MJRefreshStateHeader.h
Pods/MJRefresh/MJRefresh/Custom/Header/MJRefreshStateHeader.m
Pods/MJRefresh/MJRefresh/MJRefresh.bundle/arrow@2x.png
Pods/MJRefresh/MJRefresh/MJRefresh.bundle/en.lproj/Localizable.strings
Pods/MJRefresh/MJRefresh/MJRefresh.bundle/zh-Hans.lproj/Localizable.strings
Pods/MJRefresh/MJRefresh/MJRefresh.bundle/zh-Hant.lproj/Localizable.strings
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/AFNetworking/AFNetworking-dummy.m
Pods/Target Support Files/AFNetworking/AFNetworking-prefix.pch
Pods/Target Support Files/AFNetworking/AFNetworking.xcconfig
Pods/Target Support Files/MJRefresh/MJRefresh-dummy.m
Pods/Target Support Files/MJRefresh/MJRefresh-prefix.pch
Pods/Target Support Files/MJRefresh/MJRefresh.xcconfig
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone-acknowledgements.markdown
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone-acknowledgements.plist
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone-dummy.m
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone-frameworks.sh
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone-resources.sh
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone.debug.xcconfig
Pods/Target Support Files/Pods-HelloIphone/Pods-HelloIphone.release.xcconfig
